*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Tiger Almanac
tiger_004N
tiger_004N_elem
DEVELOPMENT_PLAN.md
PRD.md
.claude
.kotlin
.idea